.textoDev{
    background: black;
    color: white;
    margin-left: 42%;
    margin-top: -20%;
    text-align: justify;
}

.textoDev h1, p{
    background: black;
}

.textoDev h1{
    margin-bottom: 5%;
}

.devBoxGeneral{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 400px;
    background: #8e24f8;
    padding: 5px;
    font-family: sans-serif;
}

.devBox{
    background: black;
    width: 99%;
    height: 390px;
    padding: 5px;
    font-family: sans-serif;
}

.devBoxGeneral2{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 400px;
    background: #8e24f8;
    padding: 5px;
    font-family: sans-serif;

}

.devBox2{
    margin-left: 1%;
    width: 99%;
    height: 390px;
    background: black;
    padding: 5px;
    font-family: sans-serif;
}

.logoDevs{
    width: 40%;
    height: 100%;
}

@media (min-width: 1025px) and (max-width: 1600px) 
{
    .textoDev{
        margin-top: -30%;
    }

    .devBox2 h1{
        font-size: 35px;
    }
 }

 @media (min-width: 769px) and (max-width: 1024px)
 { 
   .textoDev{
       margin-top: -43%;
   }

 }

 @media (min-width: 426px) and (max-width: 768px)
 {
    .textoDev{
        margin-top: -50%;
    }
 }

 @media (max-width: 425px)
 {
    .textoDev{
        margin-top: -100%;
    }

    .textoDev p{
        font-size: 10px;
    }
 }