*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./public/assets/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

li, a, button{
    background: none;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
    width: 100%;

}

.imageNavBar{
    background: none;
    animation-name: animacaoLinks;
    animation-duration: 1s;
    height: 90px;
    width: 130px;
    cursor: pointer;
    position: fixed;
}

.imageNavBar:hover{
    transform: scale(1.1);
}

@keyframes animacaoLinks{
    0% {opacity: 0; overflow: hidden;}
    5% {opacity: 0.1; margin-top: 50px;}
    15% {opacity: 0.2; margin-top: 45px;}
    25% {opacity: 0.3; margin-top: 40px;}
    35% {opacity: 0.4; margin-top: 35px;}
    45% {opacity: 0.5; margin-top: 30px;}
    55% {opacity: 0.6; margin-top: 25px;}
    65% {opacity: 0.7; margin-top: 20px;}
    75% {opacity: 0.8; margin-top: 15px;}
    85% {opacity: 0.9; margin-top: 10px;}
    95% {opacity: 1; margin-top: 5px;}
    100% {opacity: 1;}
}

nav, i, .letras, span, .letras h2, .letras p{
    background: none;
}

.links{
    background: none;
    margin-top: 15px;
    list-style: none;
    animation-name: animacaoLinks;
    animation-duration: 1s;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
}

.links li:hover{
    transform: scale(1.1);
    font-weight: bold;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: #8e24f8;
}

.buttonNav{
    animation-name: animacaoLinks;
    animation-duration: 1s;
    padding: 9px 25px;
    background-color: #8e24f8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    color: white;
    margin-left: 70px;
}

.buttonNav:hover{
    background-color: #8e24f8;
    transform: scale(1.1);
}

.iconUser{
    animation-name: animacaoLinks;
    animation-duration: 1s;
    margin-left: -5%;
    transform:scale(1) ;
    margin-top: 0.5%;
}

.iconUser:hover{
    transform: scale(2);
    color: #8e24f8;
}

@keyframes animacaoLetras{
    0% {opacity: 0.6; overflow: hidden;}
    5% {opacity: 0.7; margin-top: 30px;}
    10% {opacity: 0.7; margin-top: 27px;}
    15% {opacity: 0.7; margin-top: 24px;}
    25% {opacity: 0.9; margin-top: 21px;}
    35% {opacity: 0.9; margin-top: 19px;}
    45% {opacity: 0.9; margin-top: 16px;}
    55% {opacity: 1; margin-top: 13px;}
    65% {opacity: 1; margin-top: 10px;}
    75% {opacity: 1; margin-top: 7px;}
    85% {opacity: 1; margin-top: 4px;}
    95% {opacity: 1; margin-top: 1px;}
    100% {opacity: 1;}
}

.letras{
    text-align: right;
    margin-right: 5%;
    font-size: 300;
}

span{
    color: #8e24f8;
}

.letras h2{
    animation-name: animacaoLetras;
    animation-duration: 0.5s;
    text-transform: uppercase;
    font-size: 80px;
    color: white;
}

.letras p{
    animation-name: animacaoLetras;
    animation-duration: 1s;
    margin-left: 50%;
    text-align: justify;
    width: 50%;
    line-break: auto;
    color: white;
}

.criarPersonagem{
    color: #8e24f8;
    text-decoration: none;
    cursor: pointer;
    border: #8e24f8 4px solid;
    border-radius: 35px;
    background-color: transparent;
    font-size: 20px;
}

.criarPersonagem:hover{
    transform: scale(1.1);
}
